<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.cordova.oauth2"
        versionCode = "10" 
        version   = "1.0.0">

    <name>Oauth2</name>

    <description>
        Oauth2 in Cordova using Phonegap Build
    </description>

    <author href="http://initlabs.com">
        Rakshith Krishnappa 
    </author>
	
    <access origin="*" />
    
	<preference name="phonegap-version" value="3.3.0" />
	
	<icon src="icon.png" />
	<gap:splash src="splash.png" />

    <gap:plugin name="org.apache.cordova.inappbrowser" />
</widget>